# 01 Data Inspection

このノートブックでは、
1. `data/processed/sam.csv` の中身確認  
2. 地域間距離行列・拡散重みの確認  
を行います。

In [2]:
import os, sys
# ノートブックから見て上の階層（プロジェクトルート）をパスに追加
sys.path.insert(0, os.path.abspath('..'))

import pandas as pd
from src.utils import load_sam, compute_distance_matrix, diffusion_weights

pd.options.display.max_columns = None
pd.options.display.width = 1000

In [3]:
# SAM (社会会計表) の読み込み
regions, K0, L0, T0 = load_sam('../data/processed/sam.csv')
df_sam = pd.DataFrame({
    'region': regions,
    'capital': [K0[r] for r in regions],
    'labor':   [L0[r] for r in regions],
    'tech':    [T0[r] for r in regions]
})
df_sam

  region  capital  labor  tech
0      A      100    200   1.0
1      B       80    150   0.8
2      C       50    100   0.5

In [4]:
# 距離行列（ダミー）と拡散重み
dist = compute_distance_matrix(regions, base_dist=1.0)
weights = diffusion_weights(dist, phi=0.5)

print("Distance matrix:")
display(dist)
print("Diffusion weights (phi=0.5):")
display(weights)

Distance matrix:

     A    B    C
A  0.0  1.0  1.0
B  1.0  0.0  1.0
C  1.0  1.0  0.0

Diffusion weights (phi=0.5):

          A         B         C
A  1.000000  0.606531  0.606531
B  0.606531  1.000000  0.606531
C  0.606531  0.606531  1.000000